body{
    background-color: #e5e5e5;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.header{
    z-index: 10;
    position: fixed;
    top: 0px;
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
    font-weight: 400;
    color: white;
    padding-left: 21px;
    padding-top: 16px;
}
.margin{
    height: 96px;
}
.marca{
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
.slogan{
    margin-top: 5px;
    font-size: 18px;
}
.menu_title{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
}
.menu{
    padding-left: 19px;
    margin-top: 32px;
}
.opcoes{
    margin-top: 17px;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
}
.opcao{
    width: 172px;
    background-color: white;
    border-radius: 9px;
    margin-right: 16px;
    cursor: pointer;
    position: inherit;
    border: 5px solid white;
    box-sizing: border-box;
    padding: 9px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 5px -4px black;
}
.opcao img{
    height: 87px;
    width: 144px;
    object-fit: cover;
    margin-top: 4px;
    border-radius: 9px;
    margin-bottom: 8px;
}
.txt1{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}
.txt2{
    margin-bottom: 10px;
    color: #a6a6a6;
    font-weight: 300;
    font-size: 15px;
}
.preco{
    margin-bottom: 13px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}
.footer{
    z-index: 10;
    height: 92px;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}
.fechar_pedido{
    width: 364px;
    height: 61px;
    border-radius: 30.5px;
    bottom: 0px;
    background-color: #cbcbcb;
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fechar_pedido_valid{
    width: 364px;
    height: 61px;
    border-radius: 30.5px;
    bottom: 0px;
    background-color: #32b72f;
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.selecionado{
    position: relative;
    border: 5px solid #32b72f;
    box-sizing: border-box;
    padding: 9px;
    padding-bottom: 0px;
}
.hidden{
    display: none;
}
.check{
    z-index: 8;
    font-size: 20px;
    position: absolute;
    color:#32b72f;
    bottom: 11px;
    right: 9px;
}
.confirmar_pedido{
    background-color: #FFFFFFE5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 11;
}
.window{
    position: fixed;
    background-color: #50D074;
    width: 377px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 22px;
    border-radius: 9px;
    padding-top: 21px;
}
.tudo_certo{
    width: 329px;
    height: 52px;
    border-radius: 30.5px;
    bottom: 0px;
    background-color: white;
    color: #32b72f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 50%;

    transform: translate(-50%, 0);
}
.cancelar{
    width: 329px;
    height: 62px;
    border-radius: 30.5px;
    bottom: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
.lista{
    font-weight: 400;
    width: 329px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 38px;
    margin-bottom: 38px;
}
.linhas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.total{
    font-weight: 700;
}